#projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 50px;
}

.title-projects h2 {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: white;
    font-weight: 500;
    padding: 0 0 8px 0;
}

.title-projects h2::after {
    content: "";
    display: flex;
    position: relative;
    right: 3px;
    background-color: var(--color-primary);
    width: 6.7rem;
    height: 2px;
}

.title-projects p {
    color: var(--color-font);
}


.title-projects {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 16px;
}

.content-projects {
    padding: 30px 0 30px;
    display: flex;
    justify-content: center;
    gap: 6rem;
    color: white;
}

.content-projects img {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    width: 400px;
    border-radius: 10px;
    transition: .3s;
}

.content-projects img:hover {
    scale: 1.02;
}

.content-projects article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-projects h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.content-projects p {
    display: flex;
    align-items: start;
    font-size: 13px;
    text-align: center;
    margin: 0 5rem;
    color: var(--color-font);
}

@media screen and (max-width: 768px) {
    #projects {
        padding: 30px 5px;
    }

    .content-projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        color: white;
    }

    .content-projects img {
        margin-left: 0;
        width: 340px;
        border-radius: 10px;
        transition: .3s;
    }

    .content-projects article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 380px;
    }

    .content-projects h3 {
        padding-top: 3px;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.5px;
    }

    .content-projects p {
        padding-top: 5px;
        display: flex;
        align-items: center;
        font-size: 12px;
        text-align: center;
        margin: 0 1rem;
        color: var(--color-font);
    }
}