#rodape {    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
    color: var(--color-font);

    font-family: 'poppins';
}

.social {
    display: flex;
    align-items: center;
    padding-top: 5px;
    gap: 10px;
}

.social a {
    color: var(--color-font);
    font-size: 25px;
}




@media screen and (max-width: 768px) {
    
}